.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1rem;
}

.item{
    background-color: burlywood;
}

@media  screen and (max-width: 600px) {
    .container{
        grid-template-columns: 1fr;
    }
}